<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>async</title>
  </head>
  <body>
    <form hx-post="article.php">
      <input
        id="name"
        name="name"
        type="text"
        hx-post="validate.php"
        hx-trigger="change"
        hx-sync="closest form:abort"
      />

      <br>
      <input
        id="mail"
        name="mail"
        type="email"
        hx-post="validate.php"
        hx-trigger="change"
        hx-sync="closest form:abort"
      />

      <button type="submit">Submit</button>
    </form>
<hr>
    <form
      hx-encoding="multipart/form-data"
      hx-post="registration.php"
      _="on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100"
    >
      <input type="file" name="userFile" />
      <button>Upload File</button>
    </form>

    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
  </body>
</html>
